*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  min-width: 320px;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

a {
  // @include focusLink;
}
