// Colors
$blue: #008dd1;
$cyan: #00ffff;
$purple: #a0a8f1;
$gray: #c2c1ca;
$red: #d10000;
$rose: #d10096;
$orange: #ffc700;
$green: #75d100;

// Font family
$base-font-family: "Montserrat", sans-serif;
$heading-font-family: "Nunito", sans-serif;

$transition-duration: .15s;
$transition-function: ease-in-out;

$container-width: 1280px;
$container-padding: 15px;
$container-padding-mobile: 10px;
$container-padding-mobile-sm: 8px;

// Breakpoints
$mobile-sm: 320px;
$mobile: 567px;
$tablet: 767px;
$laptop: 1279px;
$desktop: 1280px;
