.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  backdrop-filter: blur(4px);
  @include transition(bottom);
  @include transition(background-color);

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include tablet {
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }

  &__logo {
    display: block;
    width: 76px;
    height: 80px;

    @include mobile {
      width: 60px;
      height: 40px;
    }

    // &-wrap {}
  }

  &__nav {
    @include mobile {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0;
      pointer-events: none;
      @include transition(opacity);

      &--opened {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }

  &--opened {
    background-color: #fff;
  }

  &__hamburger {
    display: none;

    @include mobile {
      display: block;
    }
  }
}
