<section class="section features" id="features">
  <div class="container">
    <h2 class="section__title">Ваш надёжный компаньон в мире архивов</h2>

    <div class="features__grid">
      <div class="features__column">
        <ul class="features__list">
          <li
            class="features__item feature-item js-feature-item"
            data-description="Программа основана на открытом исходном коде, что позволяет пользователям убедиться в её надёжности и безопасности."
            data-id="1"
          >
            <div class="feature-item__icon-wrap">
              <div
                class="feature-item__progress progress-circle js-progress"
                data-progress="0"
              >
                <div class="circle">
                  <div class="full progress-circle__slice">
                    <div class="progress-circle__fill"></div>
                  </div>
                  <div class="progress-circle__slice">
                    <div class="progress-circle__fill"></div>
                    <div
                      class="progress-circle__fill progress-circle__bar"
                    ></div>
                  </div>
                </div>
                <div class="progress-circle__overlay"></div>
              </div>

              <picture>
                <source
                  srcset="
                    ./img/features/1-features-icon@2x.webp 2x,
                    ./img/features/1-features-icon.webp
                  "
                  type="image/webp"
                />
                <source
                  srcset="
                    ./img/features/1-features-icon@2x.png 2x,
                    ./img/features/1-features-icon.png
                  "
                  type="image/png"
                />
                <img
                  class="feature-item__icon"
                  src="./img/features/1-features-icon.png"
                  srcset="./img/features/1-features-icon@2x.png"
                  alt="Открытый исходный код"
                />
              </picture>
            </div>

            <p class="feature-item__title">Открытый исходный код</p>
          </li>
          <li
            class="features__item feature-item js-feature-item"
            data-description="7–Zip обеспечивает более высокую степень сжатия файлов по сравнению с другими архиваторами, особенно в форматах 7z и zip."
            data-id="2"
          >
            <div class="feature-item__icon-wrap">
              <div
                class="feature-item__progress progress-circle js-progress"
                data-progress="0"
              >
                <div class="circle">
                  <div class="full progress-circle__slice">
                    <div class="progress-circle__fill"></div>
                  </div>
                  <div class="progress-circle__slice">
                    <div class="progress-circle__fill"></div>
                    <div
                      class="progress-circle__fill progress-circle__bar"
                    ></div>
                  </div>
                </div>
                <div class="progress-circle__overlay"></div>
              </div>

              <picture>
                <source
                  srcset="
                    ./img/features/2-features-icon@2x.webp 2x,
                    ./img/features/2-features-icon.webp
                  "
                  type="image/webp"
                />
                <source
                  srcset="
                    ./img/features/2-features-icon@2x.png 2x,
                    ./img/features/2-features-icon.png
                  "
                  type="image/png"
                />
                <img
                  class="feature-item__icon"
                  src="./img/features/2-features-icon.png"
                  srcset="./img/features/2-features-icon@2x.png"
                  alt="Высокая степень сжатия"
                />
              </picture>
            </div>

            <p class="feature-item__title">Высокая степень сжатия</p>
          </li>
          <li
            class="features__item feature-item js-feature-item"
            data-description="Можно защитить свои архивы паролем с использованием алгоритма шифрования AES-256, что обеспечивает надёжную защиту данных."
            data-id="3"
          >
            <div class="feature-item__icon-wrap">
              <div
                class="feature-item__progress progress-circle js-progress"
                data-progress="0"
              >
                <div class="circle">
                  <div class="full progress-circle__slice">
                    <div class="progress-circle__fill"></div>
                  </div>
                  <div class="progress-circle__slice">
                    <div class="progress-circle__fill"></div>
                    <div
                      class="progress-circle__fill progress-circle__bar"
                    ></div>
                  </div>
                </div>
                <div class="progress-circle__overlay"></div>
              </div>

              <picture>
                <source srcset="./img/features/3-features-icon@2x.webp 2x, ./img/features/3-features-icon.webp" type="image/webp" />
                <source srcset="./img/features/3-features-icon@2x.png 2x, ./img/features/3-features-icon.png" type="image/png" />
                <img
                  class="feature-item__icon"
                  src="./img/features/3-features-icon.png"
                  srcset="./img/features/3-features-icon@2x.png"
                  alt="Надёжное шифрование"
                />
              </picture>
            </div>

            <p class="feature-item__title">Надёжное шифрование</p>
          </li>
          <li
            class="features__item feature-item js-feature-item"
            data-description="7–Zip может использовать несколько ядер процессора для ускорения процесса архивирования и распаковки файлов."
            data-id="4"
          >
            <div class="feature-item__icon-wrap">
              <div
                class="feature-item__progress progress-circle js-progress"
                data-progress="0"
              >
                <div class="circle">
                  <div class="full progress-circle__slice">
                    <div class="progress-circle__fill"></div>
                  </div>
                  <div class="progress-circle__slice">
                    <div class="progress-circle__fill"></div>
                    <div
                      class="progress-circle__fill progress-circle__bar"
                    ></div>
                  </div>
                </div>
                <div class="progress-circle__overlay"></div>
              </div>

              <picture>
                <source srcset="./img/features/4-features-icon@2x.webp 2x, ./img/features/4-features-icon.webp" type="image/webp" />
                <source srcset="./img/features/4-features-icon@2x.png 2x, ./img/features/4-features-icon.png" type="image/png" />
                <img
                  class="feature-item__icon"
                  src="./img/features/4-features-icon.png"
                  srcset="./img/features/4-features-icon@2x.png"
                  alt="Многопоточное сжатие файлов"
                />
              </picture>
            </div>

            <p class="feature-item__title">Многопоточное сжатие файлов</p>
          </li>
          <li
            class="features__item feature-item js-feature-item"
            data-description="Проверка целостности файлов в архиве позволяет убедиться в отсутствии ошибок или запустить восстановление повреждённых данных."
            data-id="5"
          >
            <div class="feature-item__icon-wrap">
              <div
                class="feature-item__progress progress-circle js-progress"
                data-progress="0"
              >
                <div class="circle">
                  <div class="full progress-circle__slice">
                    <div class="progress-circle__fill"></div>
                  </div>
                  <div class="progress-circle__slice">
                    <div class="progress-circle__fill"></div>
                    <div
                      class="progress-circle__fill progress-circle__bar"
                    ></div>
                  </div>
                </div>
                <div class="progress-circle__overlay"></div>
              </div>

              <picture>
                <source srcset="./img/features/5-features-icon@2x.webp 2x, ./img/features/5-features-icon.webp" type="image/webp" />
                <source srcset="./img/features/5-features-icon@2x.png 2x, ./img/features/5-features-icon.png" type="image/png" />
                <img
                  class="feature-item__icon"
                  src="./img/features/5-features-icon.png"
                  srcset="./img/features/5-features-icon@2x.png"
                  alt="Тестирования архивов"
                />
              </picture>
            </div>

            <p class="feature-item__title">Тестирования архивов</p>
          </li>
          <li
            class="features__item feature-item js-feature-item"
            data-description="7–Zip имеет поддержку многих языков, в том числе понятный и удобный интерфейс на русском, что облегчает работу с программой."
            data-id="6"
          >
            <div class="feature-item__icon-wrap">
              <div
                class="feature-item__progress progress-circle js-progress"
                data-progress="0"
              >
                <div class="circle">
                  <div class="full progress-circle__slice">
                    <div class="progress-circle__fill"></div>
                  </div>
                  <div class="progress-circle__slice">
                    <div class="progress-circle__fill"></div>
                    <div
                      class="progress-circle__fill progress-circle__bar"
                    ></div>
                  </div>
                </div>
                <div class="progress-circle__overlay"></div>
              </div>

              <picture>
                <source srcset="./img/features/6-features-icon@2x.webp 2x, ./img/features/6-features-icon.webp" type="image/webp" />
                <source srcset="./img/features/6-features-icon@2x.png 2x, ./img/features/6-features-icon.png" type="image/png" />
                <img
                  class="feature-item__icon"
                  src="./img/features/6-features-icon.png"
                  srcset="./img/features/6-features-icon@2x.png"
                  alt="Русскоязычный интерфейс"
                />
            </div>

            <p class="feature-item__title">Русскоязычный интерфейс</p>
          </li>
        </ul>
      </div>

      <div class="features__column">
        <div class="features-detail js-features-detail-wrap">
          <p class="features-detail__description js-feature-description">
            Программа основана на открытом исходном коде, что позволяет
            пользователям убедиться в её надёжности и безопасности.
          </p>
          <picture>
            <source
              srcset="
                ./img/features/1-features-image@2x.webp 2x,
                ./img/features/1-features-image.webp
              "
              type="image/webp"
            />
            <source
              srcset="
                ./img/features/01-features-image@2x.png 2x,
                ./img/features/01-features-image.png
              "
              type="image/png"
            />
            <img
              class="features-detail__image"
              src="./img/features/01-features-image.png"
              srcset="./img/features/01-features-image@2x.png"
              alt="@@title"
            />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
