<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <div class="footer__logo">@@include('../bem-blocks/_logo.html')</div>
      <div class="footer__nav">
        <nav class="nav nav--footer js-footer-nav">
          <ul class="nav__list">
            <li class="nav__item">
              <a href="javascript:void(0)" class="nav__link">Функции</a>
            </li>
            <li class="nav__item">
              <a href="javascript:void(0)" class="nav__link">О программе</a>
            </li>
            <li class="nav__item">
              <a href="javascript:void(0)" class="nav__link">Поддержка</a>
            </li>
            <li class="nav__item">
              <a href="javascript:void(0)" class="nav__link nav__link--mail">
                Связаться с нами
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <span class="footer__hr"></span>

    <div class="footer__bottom">
      <div class="footer__policy">
        <a href="javascript:void(0)" class="footer__policy-link"
          >Политика конфиденциальности</a
        >
      </div>

      <p class="footer__copyright">
        Информация предоставляется исключительно в образовательных
        и информационных целях. Все торговые марки и логотипы, упомянутые
        на этом сайте, принадлежат владельцу программы Igor Pavlov.<br />
        <br />
        Официальная страница для скачивания программы: https://www.7-zip.org/
      </p>
    </div>
  </div>
</footer>
