<header id="header" class="header">
  <div class="container">
    <div class="header__logo">@@include('../bem-blocks/_logo.html')</div>

    <div class="header__nav js-nav-wrap">
      <nav class="nav nav--header js-nav-wrap">
        <ul class="nav__list">
          <li class="nav__item">
            <a href="javascript:void(0)" class="nav__link">О программе</a>
          </li>
          <li class="nav__item">
            <a href="javascript:void(0)" class="nav__link">Функции</a>
          </li>
          <li class="nav__item">
            <a href="javascript:void(0)" class="nav__link">Поддержка</a>
          </li>
        </ul>

        <a href="javascript:void(0)" class="btn btn--header nav__download-btn"
          >Установить 7-zip</a
        >
      </nav>
    </div>

    <button class="header__hamburger hamburger">
      <span></span><span></span><span></span>
    </button>
  </div>
</header>
