<section class="hero" id="hero">
  <div class="container">
    <div class="hero__info">
      <div class="hero__heading">
        <h1 class="hero__title">7–Zip</h1>
        <p class="hero__subtitle">Идеальный инструмент для архивации</p>
      </div>
      <p class="hero__description">
        Надёжное сжатие, шифрование и управление файлами
      </p>

      <div class="hero__action">
        <a
          href="javascript:void(0)"
          class="btn btn--hero hero__action-btn hero__action-btn--windows"
        >
          Скачать для Windows
        </a>

        <span class="hero__action-caption">Совместим с Windows XP и выше</span>
      </div>
    </div>

    <div class="hero__illustration">
      <div class="hero__illustration-wrap">
        <picture>
          <source
            srcset="./img/hero/folder.webp 1x, ./img/hero/folder@2x.webp 2x"
          />
          <img
            class="hero__illustration-folder"
            src="./img/hero/folder.png"
            alt=""
          />
        </picture>
        <picture>
          <img
            class="hero__illustration-laptop"
            src="./img/hero/laptop.svg"
            alt=""
          />
        </picture>
        <picture>
          <img
            class="hero__illustration-window"
            src="./img/hero/window.svg"
            alt=""
          />
        </picture>
        <div class="hero__illustration-photo-wrap">
          <picture>
            <img
              class="hero__illustration-photo hero__illustration-photo--1"
              src="./img/hero/photo_1.svg"
              alt=""
            />
          </picture>
          <picture>
            <img
              class="hero__illustration-photo hero__illustration-photo--2"
              src="./img/hero/photo_2.svg"
              alt=""
            />
          </picture>
          <picture>
            <img
              class="hero__illustration-photo hero__illustration-photo--3"
              src="./img/hero/photo_3.svg"
              alt=""
            />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
