<section class="section section--alt promo js-promo-section" id="promo">
  <div class="container">
    <div class="promo__wrap">
      <div class="promo__info">
        <h2 class="promo__title">
          Высокая степень сжатия и надёжная защита данных.
        </h2>

        <div class="promo__features">
          <p class="promo__description">
            Получите 7-Zip прямо сейчас и оцените все его преимущества!
          </p>

          <ul class="promo__features-list">
            <li class="promo__features-item">Уменьшение размера файлов</li>
            <li class="promo__features-item">Защита паролем</li>
            <li class="promo__features-item">Экономия места на диске</li>
          </ul>
        </div>

        <div class="promo__action">
          @@include('../bem-blocks/_download-action.html', {"centered":false})
        </div>
      </div>

      <div class="promo__illustration">
        <span class="promo__illustration-item js-promo-item-1">
          <picture>
            <source
              srcset="./img/promo-illustration-icon-1.webp"
              type="image/webp"
            />
            <source
              srcset="./img/promo-illustration-icon-1@2x.webp 2x"
              type="image/webp"
            />
            <source
              srcset="./img/promo-illustration-icon-1.png"
              type="image/png"
            />
            <source
              srcset="./img/promo-illustration-icon-1@2x.png 2x"
              type="image/png"
            />
            <img
              class="promo__illustration-icon"
              src="./img/promo-illustration-icon-1.png"
              alt="Иллюстрация 1"
            />
          </picture>
        </span>

        <span class="promo__illustration-item js-promo-item-2">
          <picture>
            <source
              srcset="./img/promo-illustration-icon-2.webp"
              type="image/webp"
            />
            <source
              srcset="./img/promo-illustration-icon-2@2x.webp 2x"
              type="image/webp"
            />
            <source
              srcset="./img/promo-illustration-icon-2.png"
              type="image/png"
            />
            <source
              srcset="./img/promo-illustration-icon-2@2x.png 2x"
              type="image/png"
            />
            <img
              class="promo__illustration-icon"
              src="./img/promo-illustration-icon-2.png"
              alt="Иллюстрация 2"
            />
          </picture>
        </span>

        <span class="promo__illustration-item js-promo-item-3">
          <picture>
            <source
              srcset="./img/promo-illustration-icon-3.webp"
              type="image/webp"
            />
            <source
              srcset="./img/promo-illustration-icon-3@2x.webp 2x"
              type="image/webp"
            />
            <source
              srcset="./img/promo-illustration-icon-3.png"
              type="image/png"
            />
            <source
              srcset="./img/promo-illustration-icon-3@2x.png 2x"
              type="image/png"
            />
            <img
              class="promo__illustration-icon"
              src="./img/promo-illustration-icon-3.png"
              alt="Иллюстрация 3"
            />
          </picture>
        </span>
      </div>
    </div>
  </div>
</section>
