.btn {
  position: relative;
  @include resetButton;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
  border-radius: 12px;
  font-family: $base-font-family;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  @include transition(background-position, color);
  overflow: hidden;

  &:hover {
    background-position: 0%;
  }

  &--header {
    margin-right: -1px;
    padding: 13px 26px;
    max-width: 185px;
    width: 100%;
    background: linear-gradient(90deg, $primary 0%, $primary 50%, $dark 50%, $dark 100%);
    background-position: 100%;
    background-size: 200%;
    @include text16b;
    color: $white;
  }

  &--download {
    padding: 20px 20px 20px 17px;
    max-width: 598px;
    width: 100%;
    background: linear-gradient(90deg, $gray-800 0%, $gray-800 50%, $primary 50%, $primary 100%);
    background-position: 100%;
    background-size: 200%;
    @include text20sb;
    letter-spacing: 0.1px;
    color: #fff;
  }
}
