$circle-size: 58px;
$circle-background: transparent;
$circle-color: $circle-progress;
$inset-size: 50px;
$inset-color: #ffffff;

.progress-circle {
  width: $circle-size;
  height: $circle-size;
  transform: rotate(180deg);
  background-color: $circle-background;
  border-radius: 50%;

  &__slice,
  &__fill {
    width: $circle-size;
    height: $circle-size;
    position: absolute;
    border-radius: 50%;
  }

  &__slice {
    clip: rect(0px, $circle-size, $circle-size, calc($circle-size/2));
  }

  &__slice &__fill {
    clip: rect(0px, calc($circle-size/2), $circle-size, 0px);
    background-color: $circle-color;
  }

  &__overlay {
    width: $inset-size;
    height: $inset-size;
    position: absolute;
    margin-left: calc(($circle-size - $inset-size) / 2);
    margin-top: calc(($circle-size - $inset-size) / 2);
    background-color: $inset-color;
    border-radius: 50%;
  }

  @include mobile {
    $mobile-circle-size: calc($circle-size / 2);
    $mobile-inset-size: calc($inset-size / 2);

    width: $mobile-circle-size;
    height: $mobile-circle-size;

    &__slice,
    &__fill {
      width: $mobile-circle-size;
      height: $mobile-circle-size;
    }

    &__slice {
      clip: rect(
        0px,
        $mobile-circle-size,
        $mobile-circle-size,
        calc($mobile-circle-size/2)
      );
    }

    &__slice &__fill {
      clip: rect(0px, calc($mobile-circle-size/2), $mobile-circle-size, 0px);
    }

    &__overlay {
      width: $mobile-inset-size;
      height: $mobile-inset-size;
      margin-left: calc(($mobile-circle-size - $mobile-inset-size) / 2);
      margin-top: calc(($mobile-circle-size - $mobile-inset-size) / 2);
    }
  }

  $i: 0;
  $increment: calc(180deg / 100);

  @while $i <= 100 {
    &[data-progress="#{$i}"] {
      .progress-circle__slice.full,
      .progress-circle__fill {
        transform: rotate($increment * $i);
      }
      .progress-circle__fill.progress-circle__bar {
        transform: rotate($increment * $i * 2);
      }
      $i: $i + 1;
    }
  }
}
