.features {
  &__grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    gap: 28px;

    @include tablet {
      display: flex;
    }

    @include mobile {
      flex-direction: column;
    }
  }

  &__column {
    padding: 22px;
    border: 2px solid #cddef9;
    border-radius: 12px;
    background-color: #f4f8fd;

    &--detail {
      padding: 22px 47px;
    }
  }

  &__list {
    @include resetList;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;

    @include mobile {
      flex-direction: row;
      gap: 4px;
    }
  }

  &__item {
    cursor: pointer;
  }

  &-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    @include transition(opacity);

    @include tablet {
      padding: 24px;
    }

    &__description {
      margin: 0;
      @include text20r;
      letter-spacing: 0.4px;
      color: $dark;

      @include tablet {
        font-size: 18px;
        line-height: 24px;
      }
    }

    &__image {
      display: block;
      width: 524px;
      height: 440px;
    }

    &--changing {
      opacity: 0;
    }
  }
}
