.hero {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  min-height: 863px;
  background: linear-gradient(
    89deg,
    rgba(255, 255, 255, 0.18) 0%,
    rgba(130, 175, 242, 0.18) 50%,
    rgba(5, 95, 229, 0.18) 100%
  );

  &__main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 28px;
    grid-template-areas: "info illustration";
    padding-top: 142px;
    padding-bottom: 50px;
  }

  &__info {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-area: info;
    grid-template-areas: "heading heading heading heading . ." "description description description description description ." "action action action action action .";
    gap: 32px;
  }

  &__heading {
    display: flex;
    grid-area: heading;
    flex-direction: column;
    align-items: flex-start;
    gap: 22px;
    color: $dark;

    @include tablet {
      gap: 12px;
    }

    @include mobile {
      gap: 8px;
      align-items: center;
    }
  }

  &__title {
    margin: 0;
    margin-left: 1px;
    font-weight: 800;
    font-size: 98px;
    line-height: 104px;
    letter-spacing: 2px;
    white-space: nowrap;
  }

  &__subtitle {
    margin: 0;
    @include h2;
    letter-spacing: 0.8px;
  }

  &__description {
    grid-area: description;
    margin: 0;
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.7px;
    color: $gray-400;

    @include tablet {
      font-size: 20px;
      line-height: 24px;
    }

    @include mobile {
      font-size: 16px;
      line-height: 24px;
      text-align: center;
    }
  }

  &__action {
    grid-area: action;
  }

  &__illustration {
    position: relative;

    // &-wrap {}

    &-folder {
      position: absolute;
      top: -148px;
      left: 8px;
      z-index: 10;
    }

    &-window {
      position: absolute;
      top: -19px;
      left: 133px;
      z-index: 20;
    }

    &-laptop {
      position: absolute;
      bottom: -137px;
      left: -24px;
      z-index: 30;
    }

    &-photo {
      position: absolute;
      z-index: 40;

      // &-wrap {}

      &--1 {
        bottom: -74px;
        left: 172px;
      }

      &--2 {
        left: 265px;
        bottom: -37px;
      }

      &--3 {
        left: 398px;
        bottom: -53px;
      }
    }

    &-folder,
    &-window,
    &-laptop,
    &-photo {
      opacity: 0;
    }
  }

  &__features {
    padding-top: calc(60px + 162px);
    padding-bottom: 100px;
  }
}
